// $base-color: #c6538c;
$grey-bg: #F4F4F5;
$blue-D90: #071D6A;
$blue-D60: #092790;
$blue-D30: #0D33B9;
$blue-Primary: #1A5AD5;
$blue-Secondary: #3C65F6;
$blue-L90: #B8C8FE;
$blue-L60: #D6DFFD;
$blue-L30: #E8EDFE;
$turquoise-D90: #065E5E;
$turquoise-D60: #098181;
$turquoise-D30: #0DA8A8;
$turquoise-Primary: #0FCACA;
$turquoise-Secondary: #13E2E2;
$turquoise-L90: #60F7F7;
$turquoise-L60: #9FFBFB;
$turquoise-L30: #C8FDFD;
$neutral-D00: #A0A1AB;
$neutral-D90: #1A1A1B;
$neutral-D70: #35363B;
$neutral-D50: #595B64;
$neutral-D30: #7E818A;
$neutral-L90: #A5A7AD;
$neutral-L70: #C3C5CA;
$neutral-L50: #E8E9EC;
$neutral-L30: #F6F6F7;
$neutral-Black: #000000;
$neutral-White: #ffffff;
$error: '#CE2424';
$success: '#24CE7C';
$warning: '#F3AF00';